[submodule "yamlcss"]
	path = bawebauth/libs/yamlcss
	url = https://github.com/mback2k/django-lib-yamlcss.git
[submodule "jdatetime"]
	path = bawebauth/libs/jdatetime
	url = https://github.com/mback2k/django-lib-jdatetime.git
