[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"

[packages]
django-redis = "~=4.10.0"
gunicorn = "*"
whitenoise = "*"
pytz = "*"
Django = "~=1.11"
django_compressor = "~=2.3"

[requires]
python_version = "3.7"
