-i https://pypi.org/simple/
django-appconf==1.0.3
django-compressor==2.3
django-redis==4.10.0
django==4.0.4
gunicorn==20.0.4
pytz==2019.3
rcssmin==1.0.6
redis==3.4.1
rjsmin==1.1.0
six==1.14.0
whitenoise==4.1.4
