{% extends "base.html" %}

{% block navigation %}
  <li class="active"><strong>Home</strong></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth.views.show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>This service allows you to view the traffic used at the DHBW Mannheim while using the BaWebAuth client.</p>
{% endblock %}
