{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
  <li><a href="{% url 'bawebauth.views.show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li class="active"><strong>Dashboard</strong></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {% if device %}
  {% if device_edit_form %}
  <form action="{% url 'bawebauth.views.edit_device' device.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Edit Device:</h6>
    {{ device_edit_form|yamlform }}
    <div class="ym-fbox-button">
      <input class="ym-button ym-save" type="submit" name="submit" value="Save Device" />
      <a class="ym-button ym-next" href="{% url 'bawebauth.views.show_dashboard' %}" title="Go Back">Go Back</a>
    </div>
  </form>
  {% else %}
  <a class="ym-button ym-next float-right" href="{% url 'bawebauth.views.show_dashboard' %}" title="Go Back">Go Back</a>
  <h3>{{ device.name }}</h3>
  <div class="highchart" id="chart_usage_{{ device.id }}" href="{% url 'bawebauth.methods.api_device_usages' device.id 'json' %}" style="width: 100%; height: 280px;"></div><br />
  {% endif %}
  {% endif %}
  <table class="bordertable">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Activity</th>
        <th scope="col">Total Traffic</th>
        <th scope="col">Manage</th>
      </tr>
      {% for device in devices %}
      <tr>
        <td><a href="{% url 'bawebauth.views.show_device' device.id %}" title="{{ device.name }}">{{ device.name }}</a></td>
        <td>{% if device.last_usage and device.last_usage.crdate %}{{ device.last_usage.crdate|localedatetime }}{% else %}None{% endif %}</td>
        <td>{{ device.total|filesizeformat }}<br />{{ device.send|filesizeformat }} &uArr; | {{ device.received|filesizeformat }} &dArr;</td>
        <td>
          {% if device.active %}
          <a class="ym-button ym-edit" href="{% url 'bawebauth.views.edit_device' device.id %}" title="Edit">Edit</a>
          <a class="ym-button ym-{% if not device.enabled %}enable{% else %}disable{% endif %}" href="{% url 'bawebauth.views.switch_device' device.id %}" title="{% if not device.enabled %}Enable{% else %}Disable{% endif %}">{% if not device.enabled %}Enable{% else %}Disable{% endif %}</a>
          <a class="ym-button ym-delete" href="{% url 'bawebauth.views.delete_device_ask' device.id %}" title="Delete">Delete</a>
          {% else %}
          <a class="ym-button ym-save" href="{% url 'bawebauth.views.switch_device' device.id %}" title="Activate">Activate</a>
          <a class="ym-button ym-delete" href="{% url 'bawebauth.views.delete_device' device.id %}" title="Delete">Delete</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
