{% extends "base.html" %}

{% block navigation %}
  <div class="hlist"><ul>
    <li><a href="{% url bawebauth.views.show_home %}" title="Home">Home</a></li>
    <li class="active"><strong>Dashboard</strong></li>
  </ul></div>
{% endblock %}

{% block content %}
  {% if device %}
  {% if device_edit_form %}
  <form action="{% url bawebauth.views.edit_device device.id %}" method="post" class="yform columnar">{% csrf_token %}
  <fieldset>
    <legend><img src="{{ STATIC_URL }}icons/pencil.png" alt="" /> <strong>Edit Device:</strong></legend>
    {{ device_edit_form.as_yaml }}
    <div class="type-button">
      <input type="submit" name="submit" value="Save Device" />
      <a href="{% url bawebauth.views.show_dashboard %}" title="Close"><input type="button" name="close" value="Close" /></a>
    </div>
  </fieldset>
  </form>
  {% else %}
  <div id="chart_usage" style="width: 652px; height: 280px;"></div><br />
  <script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['annotatedtimeline']});

    $(document).ready(function() {
      $.getJSON('{% url bawebauth.methods.api_device_usages device.id 'json' %}', function(json) {
        var chart = new google.visualization.AnnotatedTimeLine($('chart_usage'));
        var data = new google.visualization.DataTable();
        var data_latest = new Date(0);

        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'Send');
        data.addColumn('number', 'Received');

        $.each(json, function(key, value) {
          var data_crdate = new Date().setISO8601(value.fields.crdate.replace(/ /, 'T'));
          if (data_crdate > data_latest) data_latest = data_crdate;
          data.addRow([data_crdate, value.fields.send, value.fields.received]);
        });

        chart.draw(data, {
          'scaleType': 'maximized',
          'zoomStartTime': data_latest.setDate(data_latest.getDate()-1),
          'zoomEndTime': data_latest,
        });
      });
    });
  </script>
  {% endif %}
  {% endif %}
  <table class="full">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Activity</th>
        <th scope="col">Total Traffic</th>
        <th scope="col">Manage</th>
      </tr>
      {% for device in devices %}
      <tr>
        <td><a href="{% url bawebauth.views.show_device device.id %}" title="{{ device.name }}">{{ device.name }}</a></td>
        <td>{% if device.last_usage and device.last_usage.crdate %}{{ device.last_usage.crdate|localedatetime }}{% else %}None{% endif %}</td>
        <td></td>
        <td>{% if device.running %}<img src="{{ STATIC_URL }}icons/loading.gif" alt="{{ device.status }}" title="{{ device.status }}" />{% else %}<a href="{% url bawebauth.views.edit_device device.id %}" title="Edit"><img src="{{ STATIC_URL }}icons/pencil.png" alt="Edit" /></a><a href="{% url bawebauth.views.delete_device_ask device.id %}" title="Delete"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete" /></a>{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
