{% extends "base.html" %}

{% block navigation %}
  <li><a href="{% url bawebauth.views.show_home %}" title="Home">Home</a></li>
  <li class="active"><strong>Dashboard</strong></li>
{% endblock %}

{% block content %}
  {% if device %}
  {% if device_edit_form %}
  <form action="{% url bawebauth.views.edit_device device.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Edit Device:</h6>
    {{ device_edit_form.as_yaml }}
    <div class="ym-fbox-button">
      <input class="ym-button" type="submit" name="submit" value="Save Device" />
      <a class="ym-button" href="{% url bawebauth.views.show_dashboard %}" title="Close">Close</a>
    </div>
  </form>
  {% else %}
  <h3>{{ device.name }}</h3>
  <div style="margin-right: 2.5em;"><div id="chart_usage" style="width: 100%; height: 280px;"></div></div><br />
  <script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['annotatedtimeline']});
    google.setOnLoadCallback(function() {
      $(document).ready(function() {
        $.getJSON('{% url bawebauth.methods.api_device_usages device.id 'json' %}', function(json) {
          var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_usage'));
          var data = new google.visualization.DataTable();
          var data_latest = new Date(0);
          var data_previous = null;

          data.addColumn('datetime', 'Date');
          data.addColumn('number', 'Send');
          data.addColumn('number', 'Received');

          $.each(json, function(key, value) {
            var data_crdate = new Date(); data_crdate.setISO8601(value.fields.crdate.replace(/ /, 'T'));
            if (data_crdate > data_latest) data_latest = new Date(data_crdate.getTime());
            if (data_previous != null && ((data_crdate - data_previous) > (1000 * 60 * 10))) {
              var data_fix1 = new Date(data_previous.getTime());
              var data_fix2 = new Date(data_crdate.getTime());
              data_fix1.setMinutes(data_previous.getMinutes()+5);
              data_fix2.setMinutes(data_crdate.getMinutes()-5);
              data.addRows([[data_fix1, 0, 0]]);
              data.addRows([[data_fix2, 0, 0]]);
            }
            data_previous = new Date(data_crdate.getTime());
            data.addRows([[data_crdate, value.fields.send, value.fields.received]]);
          });

          var date_start = new Date(data_latest.getTime());
          var date_end = new Date(data_latest.getTime());

          date_start.setDate(date_end.getDate()-1);

          chart.draw(data, {
            'allowRedraw': true,
            'scaleType': 'maximized',
            'zoomStartTime': date_start,
            'zoomEndTime': date_end,
          });
        });
      });
    });
  </script>
  {% endif %}
  {% endif %}
  <table class="bordertable">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Activity</th>
        <th scope="col">Total Traffic</th>
        <th scope="col">Manage</th>
      </tr>
      {% for device in devices %}
      <tr>
        <td><a href="{% url bawebauth.views.show_device device.id %}" title="{{ device.name }}">{{ device.name }}</a></td>
        <td>{% if device.last_usage and device.last_usage.crdate %}{{ device.last_usage.crdate|localedatetime }}{% else %}None{% endif %}</td>
        <td></td>
        <td><a class="ym-button ym-edit" href="{% url bawebauth.views.edit_device device.id %}" title="Edit">Edit</a><a class="ym-button ym-delete" href="{% url bawebauth.views.delete_device_ask device.id %}" title="Delete">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
