@charset "UTF-8";

@media all {
  textarea, pre, code, kbd, samp, var, tt {
    font-family: "Consolas", "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", "Courier";
  }
  body {
    font-family: "Arial", "Helvetica", "sans-serif";
  }

  header {
    background-color: #8E1016;
  }
  nav, .ym-hlist {
    background-color: #433; /* #E2001A */
  }

  a {
    color: #E2001A;
  }
  a:hover, a:focus {
    background-color: #E2001A;
    color: #FFF;
  }

  table .ym-button {
    margin-top: 0;
  }
  .box .ym-button {
    margin-top: -0.5em;
  }

  .ym-enable:before { content: "\2611"; }
  .ym-disable:before { content: "\2610"; }

  .ui-progressbar-value {
    border: 1px solid #433;
    background-color: #8E1016;
    position: relative;
    height: 10%;
    top: 40%;
  }
}
