{% extends "base.html" %}

{% block navigation %}
  <li><a href="{% url 'bawebauth:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>You sucessfully logged out, see you soon!</p>
  <p>
    <a class="ym-button ym-next" href="{% url 'django.contrib.auth.views.login' %}">Login</a>
    <a class="ym-button ym-next" href="{% url 'django.contrib.auth.views.password_reset' %}">Reset Password</a>
  </p>
{% endblock %}
