{% extends "base.html" %}

{% block navigation %}
  <li><a href="{% url 'bawebauth:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
{% endblock %}
