{% extends "base.html" %}
{% load url from future %}
{% load yamlform %}

{% block navigation %}
  <li><a href="{% url 'bawebauth:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" action="" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6 class="ym-fbox-heading">Reset Password</h6>
    {{ form|yamlform }}
    <div class="ym-fbox-footer ym-fbox-button">
      <input class="ym-button ym-primary" type="submit" value="Reset Password" />
      <a class="ym-button ym-next" href="{% url 'django.contrib.auth.views.login' %}">Login</a>
    </div>
  </form>
{% endblock %}
