{% extends "base.html" %}

{% block navigation %}
  <li><a href="{% url 'bawebauth:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>Your password has been set. You may go ahead and log in now.</p>
  <p><a class="ym-button ym-next" href="{% url 'login' %}">Login</a></p>
{% endblock %}
