{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
  <li><a href="{% url 'bawebauth.views.show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth.views.show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li class="active"><strong>Change Password</strong></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" action="" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Change Password</h6>
    {{ form|yamlform }}
    <div class="ym-fbox-button">
      <input class="ym-button" type="submit" value="Change Password" />
    </div>
  </form>
{% endblock %}
