{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
  <li><a href="{% url 'bawebauth.views.show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth.views.show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
{% if validlink %}
  <form method="post" action="" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Change Password</h6>
    <div class="ym-fbox-text{% if form.new_password1.errors %} ym-error{% endif %}">
      {% if form.new_password1.errors %}<strong class="ym-message">{{ form.new_password1.errors|striptags }}</strong>{% endif %}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </div>
    <div class="ym-fbox-text{% if form.new_password2.errors %} ym-error{% endif %}">
      {% if form.new_password2.errors %}<strong class="ym-message">{{ form.new_password2.errors|striptags }}</strong>{% endif %}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </div>
    <div class="ym-fbox-button">
      <input class="ym-button" type="submit" value="Change Password" />
    </div>
  </form>
{% else %}
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}
