{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
  <li><a href="{% url 'bawebauth.views.show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth.views.show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li class="active"><strong>Change Password</strong></li>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" action="" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Change Password</h6>
    <div class="ym-fbox-text{% if form.old_password.errors %} ym-error{% endif %}">
      {% if form.old_password.errors %}<strong class="ym-message">{{ form.old_password.errors|striptags }}</strong>{% endif %}
      {{ form.old_password.label_tag }}
      {{ form.old_password }}
    </div>
    <div class="ym-fbox-text{% if form.new_password1.errors %} ym-error{% endif %}">
      {% if form.new_password1.errors %}<strong class="ym-message">{{ form.new_password1.errors|striptags }}</strong>{% endif %}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
    </div>
    <div class="ym-fbox-text{% if form.new_password2.errors %} ym-error{% endif %}">
      {% if form.new_password2.errors %}<strong class="ym-message">{{ form.new_password2.errors|striptags }}</strong>{% endif %}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
    </div>
    <div class="ym-fbox-button">
      <input class="ym-button" type="submit" value="Change Password" />
    </div>
  </form>
{% endblock %}
