{% extends "base.html" %}

{% block navigation %}
  <li class="active"><strong>Home</strong></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'bawebauth:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  <li><a href="{% url 'django.contrib.auth.views.password_change' %}" title="Change Password">Change Password</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>This service allows you to view the traffic used at the DHBW Mannheim while using the BaWebAuth client.</p>
  <div class="chart usage" id="chart_usages">
    <a href="{% url 'bawebauth:api_usages' 'json' %}"></a>
    <noscript>
      <div class="box warning">
        <p>You need to enable JavaScript in order to see the traffic usage graph.</p>
      </div>
    </noscript>
  </div><br />
{% endblock %}
